[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ArchaeoPhases.dataset"]
	path = ArchaeoPhases.dataset
	url = https://github.com/cran/ArchaeoPhases.dataset
[submodule "RChronoModel"]
	path = RChronoModel
	url = https://github.com/cran/RChronoModel
